/WebAndLoad.ReadTokenFromCSV/bin
/WebAndLoad.ReadTokenFromCSV/obj
/WebAndLoad.ReadTokenFromResponse/bin
/WebAndLoad.ReadTokenFromResponse/obj
/WebAndLoad.ResponseWithBody/bin
/WebAndLoad.ResponseWithBody/obj
/.vs
/WebAndLoadTestProject.sln.DotSettings.user
